.eventchess-wrapper,
.eventcheckers-wrapper {
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.eventchess-container,
.eventcheckers-container {
    padding: 25px;
}

.eventchess-container h2,
.eventcheckers-container h2 {
    margin: 0 auto;
    color: white;
    backdrop-filter: blur(20px) saturate(50%);
}

.eventchess-wrapper,
.eventcheckers-wrapper {
    width: 45%;
    margin: 2.5%;
}

.eventchess-wrapper,
.eventcheckers-wrapper {
    height: 300px;
}

.eventchess-wrapper {
    background-image: url(/images/Games/chess.jpg);
}

.eventcheckers-wrapper {
    background-image: url(/images/Games/checkers.jpg);
}