  /*all classes*/
  .chess-wrapper, .checkers-wrapper, .monopoly-wrapper, .scrabble-wrapper, .mahjong-wrapper, .domino-wrapper   {
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.chess-container, .checkers-container, .monopoly-container, .scrabble-container, .mahjong-container, .domino-container   {
    padding: 25px;
}

.chess-container h2, .checkers-container h2, .monopoly-container h2, .scrabble-container h2, .mahjong-container h2, .domino-container h2   {
    margin: 0 auto;
    color: white;
    backdrop-filter: blur(20px) saturate(50%);
}

  /*for width and height*/
  .chess-wrapper,
  .checkers-wrapper,
  .scrabble-wrapper,
  .mahjong-wrapper,
  .domino-wrapper {
      width: 45%;
      margin: 2.5%;
  }

  .chess-wrapper,
  .checkers-wrapper,
  .scrabble-wrapper,
  .mahjong-wrapper,
  .monopoly-wrapper {
      height: 300px;
  }

  .domino-wrapper {
      height: 600px;
  }

  .monopoly-wrapper {
      width: 95%;
      margin: 2.5%;
  }

  /*chess*/

.chess-wrapper {
    background-image: url(/images/Games/chess.jpg);
}
  /*checkers*/

  .checkers-wrapper {
    background-image: url(/images/Games/checkers.jpg);
}

  /*monopoly*/

  .monopoly-wrapper {
    background-image: url(/images/Games/monopoly.jpg);
}

  /*srabble*/

  .scrabble-wrapper {
    background-image: url(/images/Games/scrabble.png);
}

  /*mahjong*/

  .mahjong-wrapper {
    background-image: url(/images/Games/mahjong.jpg);
}

  /*domino*/

  .domino-wrapper {
    background-image: url(/images/Games/domino.jpg);
}